{% extends "base.html" %}
{% block title %}About Us - EduSystem{% endblock %}

{% block content %}
<section id="contact">
    <h2>Contact Us</h2>
    <p>Email: support@edusystem.com</p>
    <p>Phone: +2547 456 7890</p>
</section>
<section id="contact">
    <h2>Our Motto</h2>
    <p>Inspiring Minds, Shaping Futures.</p>
</section>
<section id="contact">
    <h2>Our Vision</h2>
    <p>To cultivate a nurturing and innovative learning environment where every
     student is empowered to discover their potential, embrace lifelong learning, and become compassionate leaders in a changing world</p>
</section>
<section id="contact">
    <h2>Contact Us</h2>
    <p>Email: support@edusystem.com</p>
    <p>Phone: +2547 456 7890</p>
</section>

{% endblock %}